/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* * {
    border: 1px solid red;
} */

@font-face {
    font-family: "Zeydaya";
    src: url(fonts/Zeyada/Zeyada-Regular.ttf);
}

@font-face {
    font-family: "Bricolage";
    src: url(fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 3fr;
    /* background-color: rgb(249, 245, 238); */
}

header {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

header h1 {
    font-family: 'Zeydaya';
    font-size: 3rem;
    font-weight: 1000;
    margin: 0;
}

header button {
    align-self: center;
    justify-content: center;
}

header button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

header button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

header button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

header button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: none 0s;
}

header button:focus {
    outline: 1px transparent;
}

header button:before {
    display: none;
}

header button:-webkit-details-marker {
    display: none;
}


/* Represents individual book containers */
#bookDisplay > div {
    width: 20%;
    max-height: 17rem;
    border-radius: 2rem;
    padding: 1.5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bookDisplay {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 5rem;
    font-family: "Bricolage";
    align-items: stretch;
    justify-content: center;
}

#bookDisplay > div > div h1 {
    font-size: 1.5rem;
    margin: 10px 0 10px 0;
    font-weight: 700;
}

/* Remove book button */
.bookButtons button:last-child {
    color: black;
}

.bookButtons {
    display: flex;
    flex-direction: column;
}

.bookButtons button {
    min-height: 2rem;
    border: none;
    border-radius: 1rem;
    color: #fff;
}

.readStatus {
    background-color: rgb(220, 0, 0);
}
.haveRead {
    background-color: rgb(0,220,0);
}